# Second task: data analysis

In [156]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
from sklearn.linear_model import LinearRegression
import datetime as dt
import numpy as np
from scipy.stats import pearsonr
from sklearn.cluster import KMeans
#sns.set()

In [128]:
processed = pd.read_excel('./input_data/processed_data.xlsx', sheet_name='processed',engine='openpyxl')

In [129]:
print(processed.info())
processed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   day               40 non-null     datetime64[ns]
 1   worldwide_events  40 non-null     float64
 2   USA_events        40 non-null     float64
 3   UK_events         40 non-null     float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 1.4 KB
None

          day  worldwide_events    USA_events     UK_events
0  2021-02-20      2.395522e+06  0.000000e+00  0.000000e+00
1  2021-02-28      0.000000e+00  3.330581e+06  0.000000e+00
2  2021-03-30      0.000000e+00  2.515767e+06  0.000000e+00
3  2021-03-31      5.144722e+06  0.000000e+00  5.144722e+06
4  2021-04-01      7.429008e+06  3.765660e+06  7.429008e+06
5  2021-04-05      3.391571e+06  2.386534e+06  3.391571e+06
6  2021-04-07      0.000000e+00  3.406821e+06  0.000000e+00
7  2021-05-22      0.000000e+00  2.310263e+06  0.000000e+00
8  2021-05-26      2.733044e+06  4.445519e+06  0.000000e+00
9  2021-05-27      0.000000e+00  0.000000e+00  2.168840e+06
10 2021-05-29      0.000000e+00  3.275832e+06  0.000000e+00
11 2021-06-01      0.000000e+00  4.269636e+06  0.000000e+00
12 2021-06-02      0.000000e+00  3.937721e+06  0.000000e+00
13 2021-06-06      0.000000e+00  0.000000e+00  7.215400e+05
14 2021-06-09      0.000000e+00  3.614155e+06  2.143948e+06
15 2021-06-14      2.323639e+06  4.508935e+06  0.000000e+00
16 2021-06-15      0.000000e+00  3.403748e+06  0.000000e+00
17 2021-06-17      0.000000e+00  3.023066e+06  1.446781e+06
18 2021-06-29      0.000000e+00  2.890050e+06  0.000000e+00
19 2021-07-01      0.000000e+00  3.001750e+06  0.000000e+00
20 2021-07-02      0.000000e+00  0.000000e+00  1.224096e+06
21 2021-07-04      0.000000e+00  3.261525e+06  0.000000e+00
22 2021-07-08      0.000000e+00  2.044753e+06  0.000000e+00
23 2021-07-09      0.000000e+00  2.363945e+06  4.723295e+05
24 2021-07-12      0.000000e+00  0.000000e+00  1.289803e+06
25 2021-07-19      0.000000e+00  4.488746e+06  0.000000e+00
26 2021-07-20      0.000000e+00  2.206085e+06  0.000000e+00
27 2021-08-02      0.000000e+00  4.465570e+06  1.954779e+06
28 2021-08-05      0.000000e+00  0.000000e+00  9.812671e+05
29 2021-08-10      0.000000e+00  0.000000e+00  1.999650e+06
30 2021-08-12      0.000000e+00  2.594712e+06  0.000000e+00
31 2021-08-13      2.466258e+06  0.000000e+00  2.466258e+06
32 2021-08-16      3.361796e+06  5.233759e+06  0.000000e+00
33 2021-08-19      4.492243e+06  0.000000e+00  4.492243e+06
34 2021-08-22      2.517927e+06  4.102563e+06  2.517927e+06
35 2021-08-23      0.000000e+00  0.000000e+00  1.976731e+06
36 2021-08-24      2.814974e+06  5.323328e+06  2.814974e+06
37 2021-08-29      3.030065e+06  0.000000e+00  3.030065e+06
38 2021-08-30      4.816361e+06  9.084018e+06  0.000000e+00
39 2021-09-06      3.243542e+06  7.574959e+06  3.243542e+06

In [130]:
processed.corr(method='pearson')

                  worldwide_events  USA_events  UK_events
worldwide_events          1.000000    0.218179   0.692099
USA_events                0.218179    1.000000  -0.188845
UK_events                 0.692099   -0.188845   1.000000

In [131]:
def pearsonr_pval(x,y):
        return pearsonr(x,y)[1]

In [132]:
processed.corr(method=pearsonr_pval)

                  worldwide_events  USA_events     UK_events
worldwide_events      1.000000e+00    0.176219  7.547333e-07
USA_events            1.762186e-01    1.000000  2.432009e-01
UK_events             7.547333e-07    0.243201  1.000000e+00

In [165]:
mat = processed.values
# Using sklearn
km = KMeans(n_clusters=5)
km.fit(mat)
# Get cluster assignment labels
labels = km.labels_
# Format results as a DataFrame
results = pd.DataFrame([processed.index,labels]).T

In [166]:
results

            0  1
0  2021-02-20  3
1  2021-02-28  1
2  2021-03-30  1
3  2021-03-31  3
4  2021-04-01  0
5  2021-04-05  0
6  2021-04-07  1
7  2021-05-22  1
8  2021-05-26  4
9  2021-05-27  2
10 2021-05-29  1
11 2021-06-01  1
12 2021-06-02  1
13 2021-06-06  2
14 2021-06-09  0
15 2021-06-14  4
16 2021-06-15  1
17 2021-06-17  0
18 2021-06-29  1
19 2021-07-01  1
20 2021-07-02  2
21 2021-07-04  1
22 2021-07-08  1
23 2021-07-09  0
24 2021-07-12  2
25 2021-07-19  1
26 2021-07-20  1
27 2021-08-02  0
28 2021-08-05  2
29 2021-08-10  2
30 2021-08-12  1
31 2021-08-13  3
32 2021-08-16  4
33 2021-08-19  3
34 2021-08-22  0
35 2021-08-23  2
36 2021-08-24  0
37 2021-08-29  3
38 2021-08-30  4
39 2021-09-06  0

In [133]:
mainstream_media = pd.read_excel('./input_data/mainstream_media.xlsx', sheet_name='data',engine='openpyxl')

In [134]:
mainstream_media

          day                                             events
0  2021-01-21                         Joe Biden Inauguration day
1  2021-02-19            US rejoins Paris climate change accords
2  2021-03-24     MM Ever Given cargo ship blocks the Suez Canal
3  2021-04-21  Derek Chauvin convicted of the murder of Georg...
4  2021-05-03  SpaceX crew arrive home with rare pre-dawn spl...
5  2021-06-24   Colapse of a 12-storey condo building in Florida
6  2021-07-23              Tokyo Olympics opening games ceremony
7  2021-08-02                                               test
8  2021-08-06                                Fall of Afghanistan
9  2021-09-03                 Texas bans abortions after 6 weeks
10 2021-10-06                       WHO endorses Malaria vaccine
11 2021-11-03           Braves win first world series since 1995
12 2021-12-13                       Tornadoes ravage central USA

In [139]:
processed.set_index('day',inplace=True)

In [140]:
processed[processed > 0.]=1.

In [141]:
processed

            worldwide_events  USA_events  UK_events
day
2021-02-20               1.0         0.0        0.0
2021-02-28               0.0         1.0        0.0
2021-03-30               0.0         1.0        0.0
2021-03-31               1.0         0.0        1.0
2021-04-01               1.0         1.0        1.0
2021-04-05               1.0         1.0        1.0
2021-04-07               0.0         1.0        0.0
2021-05-22               0.0         1.0        0.0
2021-05-26               1.0         1.0        0.0
2021-05-27               0.0         0.0        1.0
2021-05-29               0.0         1.0        0.0
2021-06-01               0.0         1.0        0.0
2021-06-02               0.0         1.0        0.0
2021-06-06               0.0         0.0        1.0
2021-06-09               0.0         1.0        1.0
2021-06-14               1.0         1.0        0.0
2021-06-15               0.0         1.0        0.0
2021-06-17               0.0         1.0        1.0
2021-06-29               0.0         1.0        0.0
2021-07-01               0.0         1.0        0.0
2021-07-02               0.0         0.0        1.0
2021-07-04               0.0         1.0        0.0
2021-07-08               0.0         1.0        0.0
2021-07-09               0.0         1.0        1.0
2021-07-12               0.0         0.0        1.0
2021-07-19               0.0         1.0        0.0
2021-07-20               0.0         1.0        0.0
2021-08-02               0.0         1.0        1.0
2021-08-05               0.0         0.0        1.0
2021-08-10               0.0         0.0        1.0
2021-08-12               0.0         1.0        0.0
2021-08-13               1.0         0.0        1.0
2021-08-16               1.0         1.0        0.0
2021-08-19               1.0         0.0        1.0
2021-08-22               1.0         1.0        1.0
2021-08-23               0.0         0.0        1.0
2021-08-24               1.0         1.0        1.0
2021-08-29               1.0         0.0        1.0
2021-08-30               1.0         1.0        0.0
2021-09-06               1.0         1.0        1.0

In [144]:
mainstream_media.set_index('day',inplace=True)

In [147]:
media_2021=processed.join(mainstream_media,how="outer",sort=True)

In [149]:
media_2021.fillna(0,inplace=True)

In [151]:
media_2021.style.background_gradient(cmap='Blues')

In [152]:
media_2021['media_num'] = media_2021['events'].apply(lambda x: x if x == 0 else 1)

#convert_objects(convert_numeric=True).fillna(1)

In [153]:
media_2021

,worldwide_events,USA_events,UK_events,events,media_num
day,,,,,
2021-01-21,0.0,0.0,0.0,Joe Biden Inauguration day,1
2021-02-19,0.0,0.0,0.0,US rejoins Paris climate change accords,1
2021-02-20,1.0,0.0,0.0,0,0
2021-02-28,0.0,1.0,0.0,0,0
2021-03-24,0.0,0.0,0.0,MM Ever Given cargo ship blocks the Suez Canal,1
2021-03-30,0.0,1.0,0.0,0,0
2021-03-31,1.0,0.0,1.0,0,0
2021-04-01,1.0,1.0,1.0,0,0
2021-04-05,1.0,1.0,1.0,0,0
2021-04-07,0.0,1.0,0.0,0,0
2021-04-21,0.0,0.0,0.0,Derek Chauvin convicted of the murder of Georg...,1
2021-05-03,0.0,0.0,0.0,SpaceX crew arrive home with rare pre-dawn spl...,1
2021-05-22,0.0,1.0,0.0,0,0
2021-05-26,1.0,1.0,0.0,0,0
2021-05-27,0.0,0.0,1.0,0,0
2021-05-29,0.0,1.0,0.0,0,0
2021-06-01,0.0,1.0,0.0,0,0
2021-06-02,0.0,1.0,0.0,0,0
2021-06-06,0.0,0.0,1.0,0,0
2021-06-09,0.0,1.0,1.0,0,0
2021-06-14,1.0,1.0,0.0,0,0
2021-06-15,0.0,1.0,0.0,0,0
2021-06-17,0.0,1.0,1.0,0,0
2021-06-24,0.0,0.0,0.0,Colapse of a 12-storey condo building in Florida,1
2021-06-29,0.0,1.0,0.0,0,0
2021-07-01,0.0,1.0,0.0,0,0
2021-07-02,0.0,0.0,1.0,0,0
2021-07-04,0.0,1.0,0.0,0,0
2021-07-08,0.0,1.0,0.0,0,0
2021-07-09,0.0,1.0,1.0,0,0
2021-07-12,0.0,0.0,1.0,0,0
2021-07-19,0.0,1.0,0.0,0,0
2021-07-20,0.0,1.0,0.0,0,0
2021-07-23,0.0,0.0,0.0,Tokyo Olympics opening games ceremony,1
2021-08-02,0.0,1.0,1.0,test,1
2021-08-05,0.0,0.0,1.0,0,0
2021-08-06,0.0,0.0,0.0,Fall of Afghanistan,1
2021-08-10,0.0,0.0,1.0,0,0
2021-08-12,0.0,1.0,0.0,0,0
2021-08-13,1.0,0.0,1.0,0,0
2021-08-16,1.0,1.0,0.0,0,0
2021-08-19,1.0,0.0,1.0,0,0
2021-08-22,1.0,1.0,1.0,0,0
2021-08-23,0.0,0.0,1.0,0,0
2021-08-24,1.0,1.0,1.0,0,0
2021-08-29,1.0,0.0,1.0,0,0
2021-08-30,1.0,1.0,0.0,0,0
2021-09-03,0.0,0.0,0.0,Texas bans abortions after 6 weeks,1
2021-09-06,1.0,1.0,1.0,0,0
2021-10-06,0.0,0.0,0.0,WHO endorses Malaria vaccine,1
2021-11-03,0.0,0.0,0.0,Braves win first world series since 1995,1
2021-12-13,0.0,0.0,0.0,Tornadoes ravage central USA,1

In [154]:
media_2021.corr(method='pearson')

                  worldwide_events  USA_events  UK_events  media_num
worldwide_events          1.000000    0.127108   0.322190  -0.350438
USA_events                0.127108    1.000000  -0.140286  -0.534522
UK_events                 0.322190   -0.140286   1.000000  -0.365148
media_num                -0.350438   -0.534522  -0.365148   1.000000

In [155]:
media_2021.corr(method=pearsonr_pval)

                  worldwide_events  USA_events  UK_events  media_num
worldwide_events          1.000000    0.369208   0.019840   0.010867
USA_events                0.369208    1.000000   0.321227   0.000045
UK_events                 0.019840    0.321227   1.000000   0.007774
media_num                 0.010867    0.000045   0.007774   1.000000